@model SchoolDb.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div id="containershow">
    <nav>
        <a class="navlink" href="/Author/List">Back to Teachers</a>
        <a class="dellink" href="/Author/List">Back to Teachers</a>
        
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
      
    
</div>
  
